body {
  text-align: justify;
  font-size: large;
  margin: 8% 12% 8% 12%;
  /* font-family: Monserrat, Product Sans, sans-serif; */
  font-family: monospace;
  background-color: #282828;
  color: #ebdbb2;
  font-size: 14pt
}

/* unvisited link */
a:link {
  color: #8ec07c;
}

/* visited link */
a:visited {
  color: #d3869b;
}

/* mouse over link */
a:hover {
  color: #fe8019;
}

/* selected link */
a:active {
  color: #83a598;
}

