@property --offset-color {
  syntax: "<color>";
  inherits: false;
  initial-value: 0;
}

@keyframes offset {
	0%   {--offset-color: #8ec07c;	}
	25%  {--offset-color: #fe8019;	}
	50%  {--offset-color: #fe8019;	}
	75%  {--offset-color: #8ec07c;	}
	85%  {--offset-color: #83a598;	}
	100% {--offset-color: #83a598;	}
}

body {
	text-align: center;
	font-size: large;
	margin: 4% 8% 4% 8%;
	font-family: monospace;
	background-color: #282828;
	color: #ebdbb2;
	font-size: 24pt
}

ul {
	text-align: center;
}

.center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -65%);
	border: 5px solid #8ec07c;
	padding: 1%;
	filter: drop-shadow(2px 1px 0px var(--offset-color));
	animation: offset 1s infinite;
}

hr { 
	display: block; 
	border-top: 10px solid #ebdbb2; 
	margin: 1em 0; 
	padding: 0; 
}

a:link { color: #8ec07c; }
a:visited { color: #d3869b; }
a:hover { color: #fe8019; }
a:active { color: #83a598; }

::-webkit-scrollbar { width: 10px; height: 10px; background: #ebdbb2; }
::-webkit-scrollbar-corner { background: #ebdbb2; }
::-webkit-scrollbar-track { background: #282828; box: inset 0 0 5px #ebdbb2; }
::-webkit-scrollbar-thumb { background: #ebdbb2; }
::-webkit-scrollbar-thumb:hover { background: #d5c4a1; }
